:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --toggle-light: #48f562;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background 1s;
}

html {
  height: 100%;
}

.content {
  max-width: 768px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem 0;
}

.main-header {
  margin: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d6da;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(50, 49, 49);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  background-color: var(--form-background);
  padding: 1rem;
  border-radius: 8px;
}

.container .sign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.container .sign h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-title);
}

.container p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-base);
  margin-top: 0.5rem;
}

.container form .email,
.container form .password {
  margin-top: 1.25rem;
}

.container form .email input {
  background: url("../img/mail.svg") no-repeat scroll 7px 7px;
}

.container form .password input {
  background: url("../img/lock.svg") no-repeat scroll 7px 7px;
}

.container form .email input,
.container form .password input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 1px solid var(--text-base);
  font-size: 0.875rem;
  color: var(--text-base);
  text-align: center;
}

.container form .email input:focus {
  background: url("../img/mail-focus.svg") no-repeat scroll 7px 7px;
}

.container form .password input:focus {
  background: url("../img/lock-focus.svg") no-repeat scroll 7px 7px;
}

.container form .email input:focus,
.container form .password input:focus {
  border: 2px solid var(--primary-color);
}

.container form .email label,
.container form .password label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-base);
}

.password-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.password-infos div .check {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-base);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.password-infos div .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.password-infos div .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid var(--text-base);
  border-radius: 2px;
}

.password-infos div .check:hover input ~ .checkmark {
  background-color: rgb(51, 50, 50);
}

.password-infos div .check input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border: 0;
}

.password-infos div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.password-infos div .check input:checked ~ .checkmark:after {
  display: block;
}

.password-infos div .check .checkmark:after {
  left: 4px;
  bottom: 4px;
  width: 4px;
  height: 8px;
  border: solid var(--background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password-infos div span {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-base);
}

.password-infos div:last-child a {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--primary-color);
}

.container button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--background);
}

.container .primary-color-p {
  text-align: center;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--primary-color);
}

.container .primary-color-p a {
  font-weight: 600;
  color: var(--primary-color);
}

@media only screen and (min-width: 1080px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .container {
    background-color: var(--form-background);
    padding: 4rem;
    border-radius: 8px;
  }

  aside {
    width: 50%;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 75%;
  }

  .background {
    width: 50%;
    background: url("../img/side-image.jpg");
    background-size: cover;
    transition: background 1s;
  }
}
