:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  background-color: var(--background);
}

.container {
  max-width: 738px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-header {
  margin-top: 1rem;
}

.container .sign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.container .sign h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-title);
}

.container p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-base);
  margin-top: 0.5rem;
}
