:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  background-color: var(--background);
}

.container {
  max-width: 738px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-header {
  margin-top: 1rem;
}
